PORT='3000'
DATABASE_URL="POSTGRES_URL"
BETTER_AUTH_URL="BETTER_AUTH_URL"
REACT_APP_URL="REACT_APP_URL"
TOKEN_SECRET="TOKEN_SECRET"
RESEND_API_KEY="RESEND_API_KEY"
ONBOARDING_EMAIL="ONBOARDING_EMAIL"
ORIGIN_LIST="ORIGIN_LIST" #this should be comma separated if multiple origins
OPENAI_API_KEY="OPENAI_API_KEY"
INSIGHT_LLM_MODEL="gpt-4o-mini"
